body {
  text-align: center;
  margin: 0px;
  background-image: url("Cartoon-Wallpaper.jpg");
  background-position: 50% -10%;
  background-color: rgb(160, 215, 241);
  background-repeat: no-repeat;
  width: 100%;
}

#container {
  width: 960px;
  margin: 25px auto 0px auto;
  overflow: auto;
}

section {
  clear: both;
  width: 100%;
  overflow: auto;
}

.picture-column3 {
  width: 310px;
  height: 330px;
  border: 1px solid black;
}

.picture-column1 {
  width: 100%;
  height: 400px;
  margin: 16px 0px;
  clear: both;
}

#photo1 {
  background-image: url("diego.jpg");
  background-repeat: no-repeat;
  float: left;
}

#photo2 {
  background-image: url("IMG_3456_small.jpg");
  background-repeat: no-repeat;
  float: left;
  margin-left: 12px;
}

#photo3 {
  background-image: url("bob_builder.jpg");
  background-repeat: no-repeat;
  float: left;
  margin-left: 12px;
}

#photo4 {
  background-image: url("Mater_and_Lightning_McQueen.jpg");
  background-repeat: no-repeat;
}

.block_small {
  width: 10px;
  height: 10px;
  float: left;
  margin: 0px;
  background-image: url("brown_canvas_seamless.jpg");
}

.block_large {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0px;
  background-image: url("brown_canvas_seamless.jpg");
}

.hide {
  visibility: hidden;
}