body {
  text-align: center;
  margin: 0px;
}

#container {
  width: 960px;
  margin: 100px auto 0px auto;
  overflow: auto;
}

section {
  clear: both;
  width: 100%;
  overflow: auto;
  border: 1px dotted black;
}

article {
  float: left;
}

.picture {
  margin: 0px 10px;
  width: 460px;
  height: 635px;
}

#photo1 {
  background-image: url("img_0061_reveal.jpg");
  background-repeat: no-repeat;
}

#photo2 {
  background-image: url("IMG_0225_reveal.jpg");
  background-repeat: no-repeat;
}

.block {
  background-color: white;
  width: 10px;
  height: 5px;
  float: left;
  margin: 0px;
  background-color: gray;
}