body {
  text-align: center;
  margin: 0px;
  background-image: url("dark_brown_canvas_background.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

#container {
  width: 960px;
  margin: 100px auto 0px auto;
  overflow: auto;
}

section {
  clear: both;
  width: 100%;
  overflow: auto;
  border: 1px dotted black;
}

.picture-column2 {
  width: 450px;
  height: 620px;
  border: 5px solid black;
}

#photo1 {
  background-image: url("img_0061_reveal.jpg");
  background-repeat: no-repeat;
  float: left;
}

#photo2 {
  background-image: url("IMG_0225_reveal.jpg");
  background-repeat: no-repeat;
  float: right;
}

.block {
  width: 30px;
  height: 20px;
  float: left;
  margin: 0px;
  background-image: url("brown_canvas_seamless.jpg");
}

.hide {
  visibility: hidden;
}